<h1 class= "text-center mt-4">Users</h1>
<div class="container">

  <div class="flickr_pagination">
      <%= will_paginate @users, :container => false %>
  </div>
  <% @users.each do |user| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic"> <%= link_to user.username, user_path(user) %> </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to gravatar_for(user, size: 150), user_path(user), class: "text-success text-decoration-none" %></h5>
            <p class="card-text"><%= pluralize(user.projects.count, 'project') %></p>
            <%= link_to 'View Profile', user_path(user), class: "btn btn-outline-success" %>
            <% if logged_in? %>
              <% if user == current_user %>
                <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
              <% end %>
              <% if current_user.admin? %>
              <%= link_to "Delete user", user_path(user), class: "btn btn-outline-danger", data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the user account and all associated projects?'} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>
              Joined <%= time_ago_in_words(user.created_at) %> ago
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="flickr_pagination mb-4">
    <%= will_paginate @users, :container => false %>
  </div>
</div>
