<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= render 'shared/errors', obj: @bug %>
      <%= form_with(model: @bug, class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        
        <div class="form-group row">
          <%= f.label :title, "Bug title", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded mb-4", placeholder: "Enter a name" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :title, "Bug description", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.text_area :description, class: "form-control shadow rounded mb-4", placeholder: "Enter bug's description" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :title, "Bug type", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.select :bug_type, Bug.bug_types.keys, { prompt: "Select bug type (Click Me)" } , class: "custom-select form-control shadow rounded mb-4" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :title, "Bug status", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.select :status, Bug.statuses.keys, { prompt: "Select bug status (Click Me)" } , class: "custom-select form-control shadow rounded mb-4" %>
          </div>
        </div>

        <div class="form-group row">
          <%= f.label :title, "Deadline", class: "col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= f.date_field :deadline, class: "form-control shadow rounded mb-4", placeholder: "Enter deadline date" %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="mb-3">
      <%= link_to '[ Cancel and return to projects listing ]', projects_path, class: "text-info" %>
    </div>
  </div>
</div>